<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Comment in <%=fname%></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="/">
                  <i class="fa fa-book"></i> <span class="light">My</span> Cours
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a href="/cours"></a>
                  </li>
                  <ul class="nav navbar-nav navbar-right">
                    <% if(login){ %>
                    <li><a href="/userpro"><i class="fa fa-user" aria-hidden="true"></i></i> My Profil</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> logout </a></li>
                    <% }else{ %>
                      <li><a href="/signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
                      <li><a href="/signup"><i class="fa fa-registered" aria-hidden="true"></i> Joins Us </a></li>
                     <% } %>
                     <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a></li>
                      </ul>
                    </li>
                  </ul>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <div class="panel panel-default panel-order">

      <!-- /.container -->
  </nav>
  <section class="jumbotron text-center">
     <div class="container">
       <h1 class="jumbotron-heading">My Cours</h1>
       <p class="lead text-muted">get started with a bunch of course </br>
                                     Programming Network and design  </p>
          <% if(login){ %>
          <a href="/userpro" class="btn btn-primary"> My Profil</a>
          <a href="/logout" class="btn btn-secondary"> logout </a>
          <% }else{ %>
            <a href="/signin" class="btn btn-primary"> Log In</a>
            <a href="/signup" class="btn btn-secondary"> Joins Us </a>
         <% } %>
       </p>
     </div>
   </section>

<div class="container">
            <form  action="/thanks" method="post">
              <p><input  type="hidden" name="fname" value="<%=fname%>" ></p>
              <p><input  type="hidden" name="author" value="<%=user.username%>" ></p>
              <p><input  type="hidden" name="role_author" value="<%=user.role%>" ></p>

              <textarea class="form-control" rows="1" name="comment"></textarea>
              <p><button  type="submit" class="btn btn-primary" target="_blank" >Add Comment</button></p>
            </form>
   </div>

  <footer class="tex1t-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.12.4.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  <script>
    $(function () {
      Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
    });
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        -->
</body>
</html>
